{% extends 'base.html' %}

{% load static %}


{% block content %}


<!DOCTYPE html>
<html>
<head>
	<title>Instalace</title>

	<link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">



<style type="text/css">
	

</style>





</head>

<body>
	<h3 class="myHeader">Instalace</h3>


	<h4 class = "podKapitola">Windows</h4>


	<p class="divText">
	Otevřeme terminál. <br>
	Pro používání frameworku Django musíme mít nainstalovaný Python. Musíme ověřit, že je Python nainstalovaný. 
 
	</p>

	<div class="divBlackBox">
		<p class="codeWhiteText" id="p1"> 	
	python3 -V
	</p>
	<button class="blackButtonCopy buttonBlack" onclick="copyToClipboard('#p1')" style="margin-left: auto; display: block;" >Uložit
</button>
	</div>

	<br>

	<p class="divText">
	Pokud není nainstalovaný, tak lze ho stáhnout z oficiálních stránek. Je doporučeno stáhnout verzi Python 3.8+ <br> <br>
	Na libovolném místě vytvoříme soubor, např. djangoprojekt <br>
	Poté otevřeme terminál a budeme se nacházet uvnitř djnagoprojektu. <br>
	Provedeme příkaz pro vytvoření virtuálního prostředí
	</p>

	<div class="divBlackBox">
		<p class="codeWhiteText" id="p2"> 	
	  python -m venv env

	</p>
	<button class="blackButtonCopy buttonBlack" onclick="copyToClipboard('#p2')" style="margin-left: auto; display: block;" >Uložit
</button>
	</div>

	<br>

	<p class="divText">
	Po vytvoření virtuálního prostředí, ho musíme aktivovat. 
	</p>

	<div class="divBlackBox">
		<p class="codeWhiteText" id="p3"> 	
		env\Scripts\activate

	</p>
	<button class="blackButtonCopy buttonBlack" onclick="copyToClipboard('#p3')" style="margin-left: auto; display: block;" >Uložit
</button>
	</div>

	<br>

	<p class="divText">
		Nyní ve virtuálním prostředí nainstalujeme Django.  
	</p>


	<div class="divBlackBox">
		<p class="codeWhiteText" id="p4"> 	
		pip install django
	</p>
	<button class="blackButtonCopy buttonBlack" onclick="copyToClipboard('#p4')" style="margin-left: auto; display: block;" >Uložit
</button>
	</div>

	<br>

	<p class="divText" >
	Poté můžeme vytvořit náš vlastní Django projekt. Vybereme si libovolný název, např. django_aplikace
	</p>

	<div class="divBlackBox">
		<p class="codeWhiteText" id="p5"> 	
		django-admin startproject django_aplikace
	</p>
	<button class="blackButtonCopy buttonBlack" onclick="copyToClipboard('#p5')" style="margin-left: auto; display: block;" >Uložit
</button>
	</div>

	<br>

	<p class="divText">
	Máme vytvořený Django projekt s názvem django_aplikace <br>
	Přepneme se do toho projektu

	</p>

	<div class="divBlackBox">
		<p class="codeWhiteText" id="p6"> 	
		cd django_aplikace
	</p>
	<button class="blackButtonCopy buttonBlack" onclick="copyToClipboard('#p6')" style="margin-left: auto; display: block;" >Uložit
</button>
	</div>

	<br>


	<h4 class = "podKapitola">macOS</h4>

	<p class="divText">
	Otevřeme terminál, ve kterém budeme pracovat. <br>
	Pro používání frameworku Django musíme mít nainstalovaný Python. Musíme ověřit, že je Python nainstalovaný. 
 
	</p>

	<div class="divBlackBox">
		<p class="codeWhiteText" id="p7"> 	
		python3 -V
	</p>
	<button class="blackButtonCopy buttonBlack" onclick="copyToClipboard('#p7')" style="margin-left: auto; display: block;" >Uložit
</button>
	</div>

	<br>

	<p class="divText">
	Pokud není nainstalovaný, tak lze ho stáhnout z oficiálních stránek. Je doporučeno stáhnout verzi Python 3.8+ <br>
	Poté se musí nainstalovat pip a také pipenv
	</p>


	<div class="divBlackBox">
		<p class="codeWhiteText" id="p8"> 	
		python3.8 -m pip install pip –upgrade <br>
		python3.8 -m pip install pipenv
	</p>
	<button class="blackButtonCopy buttonBlack" onclick="copyToClipboard('#p8')" style="margin-left: auto; display: block;" >Uložit
</button>
	</div>

	<br>

	<p class="divText">
	Pro ověření, že se pipenv nainstalovalo, použijeme příkaz
	</p>


	<div class="divBlackBox">
		<p class="codeWhiteText" id="p9"> 	
		pipenv
	</p>
	<button class="blackButtonCopy buttonBlack" onclick="copyToClipboard('#p9')" style="margin-left: auto; display: block;" >Uložit
</button>
	</div>

	<br>

	<p class="divText">
	Pomocí pipenv vytvoříme virtuální prostředí. <br>
	V terminálu si vytvořte nový adresář a pojmenujte ho např. dev
	</p>

	<div class="divBlackBox">
		<p class="codeWhiteText" id="p10"> 	
		mkdir dev
	</p>
	<button class="blackButtonCopy buttonBlack" onclick="copyToClipboard('#p10')" style="margin-left: auto; display: block;" >Uložit
</button>
	</div>

	<br>


	<p class="divText"> 
	V adresáři dev, vytvoříme nový adresář, který libovolně pojmenujeme, např. djangoprojekt.
	</p>

	<div class="divBlackBox">
		<p class="codeWhiteText" id="p11"> 	
		mkdir djangoprojekt
	</p>
	<button class="blackButtonCopy buttonBlack" onclick="copyToClipboard('#p11')" style="margin-left: auto; display: block;" >Uložit
</button>
	</div>

	<br>


	<p class="divText">
	Nový vytvořený adresář djangoprojekt musí být na začátku prázdný. <br>
	V tomto adresáři provedeme příkaz

	</p>


	<div class="divBlackBox">
		<p class="codeWhiteText" id="p12"> 	
		virtualenv -p python3 .
	</p>
	<button class="blackButtonCopy buttonBlack" onclick="copyToClipboard('#p12')" style="margin-left: auto; display: block;" >Uložit
</button>
	</div>

	<br>

	<div class="divBlackBox">
		<p class="codeWhiteText" id="p13"> 	
		source bin/activate
	</p>
	<button class="blackButtonCopy buttonBlack" onclick="copyToClipboard('#p13')" style="margin-left: auto; display: block;" >Uložit
</button>
	</div>

	<br>

	<p class="divText">
	Nyní nainstalujeme Django. Pro nainstalovaní aktuální verze je příkaz
	</p>


	<div class="divBlackBox">
		<p class="codeWhiteText" id="p14"> 	
		pip install django
	</p>
	<button class="blackButtonCopy buttonBlack" onclick="copyToClipboard('#p14')" style="margin-left: auto; display: block;" >Uložit
</button>
	</div>

	<br>
	
	<p class="divText">
	Konkrétní verze lze najít na oficiálních stránkách Django. Instalování určité verzi lze provést takto:
	</p>

	<div class="divBlackBox">
		<p class="codeWhiteText" id="p15"> 	
		pip install django==3.0.4
	</p>
	<button class="blackButtonCopy buttonBlack" onclick="copyToClipboard('#p15')" style="margin-left: auto; display: block;" >Uložit
</button>
	</div>

	<br>

	<p class="divText">
	Po úspěšné instalaci zavřeme terminál.
	</p>


	<h4 class = "podKapitola">Linux</h4>


	<p class="divText">
	Otevřeme terminál. <br>
	Pro používání frameworku Django musíme mít nainstalovaný Python. 

	</p>


	<div class="divBlackBox">
		<p class="codeWhiteText" id="p16"> 	
		sudo apt-get install python3
	</p>
	<button class="blackButtonCopy buttonBlack" onclick="copyToClipboard('#p16')" style="margin-left: auto; display: block;" >Uložit
</button>
	</div>

	<br>

	<p class="divText">
	Poté nainstalujeme pip
	</p>


	<div class="divBlackBox">
		<p class="codeWhiteText" id="p17"> 	
		sudo apt-get install python3-pip
	</p>
	<button class="blackButtonCopy buttonBlack" onclick="copyToClipboard('#p17')" style="margin-left: auto; display: block;" >Uložit
</button>
	</div>

	<br>

	<p class="divText">
	Nainstalujeme Django
	</p>


	<div class="divBlackBox">
		<p class="codeWhiteText" id="p18"> 	
		pip3 install Django <br>
		sudo apt-get install python3-django
	</p>
	<button class="blackButtonCopy buttonBlack" onclick="copyToClipboard('#p18')" style="margin-left: auto; display: block;" >Uložit
</button>
	</div>

	<br>

	<p class="divText">
	Vytvoříme adresář, ve kterém bude náš Django projekt, např. django_projekt
	</p>


	<div class="divBlackBox">
		<p class="codeWhiteText" id="p19"> 	
		mkdir django_projekt
	</p>
	<button class="blackButtonCopy buttonBlack" onclick="copyToClipboard('#p19')" style="margin-left: auto; display: block;" >Uložit
</button>
	</div>

	<br>

	<p class="divText">
	Uvnitř tohoto adresáře se vytvoří náš Django projekt.
	</p>


	<div class="divBlackBox">
		<p class="codeWhiteText" id="p20"> 	
		sudo django-admin startproject django_aplikace
	</p>
	<button class="blackButtonCopy buttonBlack" onclick="copyToClipboard('#p20')" style="margin-left: auto; display: block;" >Uložit
</button>
	</div>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<script>
function copyToClipboard(element) {
  var $temp = $("<textarea>");
  $("body").append($temp);
  $temp.val($(element).text()).select();
  document.execCommand("copy");
  $temp.remove();
}

</script>


	<br>

<br>	
<br>


</body>
</html>
	

	


{% endblock %}