{% extends 'base.html' %}


{% load static %}




{% block content %}

	<h1>Vitejte na prvni kapitole</h1>

	<h2>SOME RANDOM TEXT</h2>

	<button type="button" class="btn btn-primary">Primary</button>

	<div class="btn-group-toggle" data-toggle="buttons">
  <label class="btn btn-secondary active">
    <input type="checkbox" checked autocomplete="off"> Checked
  </label>
	</div>

	<!-- <img src="{% static 'images/logo.png' %}"> -->
	<p>hello</p>


	<a class="btn btn-primary" href="#" role="button">Link</a>
	<button class="btn btn-primary" type="submit">Button</button>

{% endblock %}