{% extends 'base.html' %}

{% load static %}


{% block content %}


<!DOCTYPE html>
<html>
<head>
	<title>Seznam</title>

	<link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">



<style type="text/css">
	

</style>





</head>

<body>
	<h3 class="myHeader">Seznam</h3>

	
	<p class="divText" >
	Seznam (anglicky list) je uspořádaná posloupnost prvků. Seznamy jsou měnitelné. Můžeme do seznamu objekty přidávat, odebírat <br> a nahrazovat.
	Jednotlivé prvky mohou být libovolného datového typu. Tyto prvky se v seznamu oddělují od sebe čárkou a jsou uvnitř hranatých závorek. 
	</p>

	<div class="divBox">
		<p class="codeText" id="p1"> 	
	muj_seznam = [10, "pondeli", 2.3] # ukazka seznamu
	</p>
	<button class="buttonCopy buttonBlue" onclick="copyToClipboard('#p1')" style="margin-left: auto; display: block;" >Uložit
</button>
	</div>

	<br>


	<h4 class = "podKapitola">Vytvoření seznamu</h4>


	<p class="divText">
	Jednou z možností, jak vytvořit seznam je, že se vytvoří prázdný seznam. Prázdný seznam se vytváří pomocí prázdných hranatých závorek. 
	</p>

	<div class="divBox">
		<p class="codeText" id="p2"> 	
	muj_seznam = []
	</p>
	<button class="buttonCopy buttonBlue" onclick="copyToClipboard('#p2')" style="margin-left: auto; display: block;" >Uložit
</button>
	</div>

	<br>

	<p class="divText">
	Dále je možné vytvořit seznam, který obsahuje jeden nebo více prvků. Tyto prvky jsou v hranatých závorkách od sebe oddělené čárkou. 
	</p>

	<div class="divBox">
		<p class="codeText" id="p3"> 	
	tyden = ["pondeli", "utery", "streda","ctvrtek", "patek"]
	</p>
	<button class="buttonCopy buttonBlue" onclick="copyToClipboard('#p3')" style="margin-left: auto; display: block;" >Uložit
</button>
	</div>

	<br>

	<p class="divText">
	Seznam lze také vytvořit pomocí funkce <b class="barvaFunkce">list()</b>. Počet argumentů může být nula nebo jedna. Pokud funkci zavoláme bez argumentů, tak se vytvoří prázdný seznam. Jako argument lze přidat i objekt, kterým lze iterovat. Např. to může být řetězec nebo i další seznam. V ukázce se jako argument předal řetězec <b class="barvaPromenne">Auto</b>. Při výpisu dostaneme seznam, který obsahuje jednotlivá písmena ze slova <b class="barvaPromenne">Auto</b>, která jsou od sebe oddělená čárkou. 
	</p>

	<div class="divBox">
		<p class="codeText" id="p4"> 	
		seznam_auto = <b class="ks">list</b>("Auto") <br>
		 <b class="ks">print</b>(seznam_auto) # vypise: ['A', 'u', 't', 'o']

	</p>
	<button class="buttonCopy buttonBlue" onclick="copyToClipboard('#p4')" style="margin-left: auto; display: block;" >Uložit
</button>
	</div>

	<br>

	<p class="divText">
		Všechny prvky v seznamu jsou odkazy na objekty, proto v seznamu můžeme uchovávat libovolné datové typy. 
	</p>




	<h4 class = "podKapitola">Přístup k seznamu</h4>

	<p class="divText"> 
	Každý prvek v seznamu má svůj index. Index je číslo, které uvádí pořadí daného prvku v seznamu. Indexování je od nuly. To znamená, že první prvek má index s hodnotou nula. Index posledního prvku je o jedničku menší než počet prvků v seznamu. 
	</p>

	<div class="divBox">
		<p class="codeText" id="p5"> 	
		nakupni_seznam = ["chleba","cokolada","banan","jahoda","jogurt", "syr"]
	</p>
	<button class="buttonCopy buttonBlue" onclick="copyToClipboard('#p5')" style="margin-left: auto; display: block;" >Uložit
</button>
	</div>

	<br>

	<p class="divText" >
	Pokud chceme vypsat první prvek v seznamu, tak se uvede název seznamu, na konci názvu budou hranaté závorky a v nich index prvku, v tomto případě bude index nula. 
	</p>

	<div class="divBox">
		<p class="codeText" id="p6"> 	
		<b class="ks">print</b>(nakupni_seznam[0]) # vypise: chleba
	</p>
	<button class="buttonCopy buttonBlue" onclick="copyToClipboard('#p6')" style="margin-left: auto; display: block;" >Uložit
</button>
	</div>

	<br>

	<p class="divText">
		Při vypsání určité části prvků v seznamu, lze použít symbol dvojtečka. 
	Budeme chtít vypsat první tři prvky v seznamu. Budeme tedy mít na výstupu seznam o tří prvků. Jako první číslo bude v hranatých závorkách 0, poté symbol dvojtečka a poslední číslo bude index posledního prvku, který chceme vypsat. To znamená, že budeme mít <b class="barvaPromenne">[0:3]</b>
	Jelikož začínáme od začátku, tak se nula nemusí zapisovat a stačí <b class="barvaPromenne">[:3]</b>
	</p>

	<div class="divBox">
		<p class="codeText" id="p7"> 	
		<b class="ks">print</b>(nakupni_seznam[0:3]) # vypise: [chleba, cokolada, banan] <br>
		<b class="ks">print</b>(nakupni_seznam[:3]) # vypise: [chleba, cokolada, banan]

	</p>
	<button class="buttonCopy buttonBlue" onclick="copyToClipboard('#p7')" style="margin-left: auto; display: block;" >Uložit
</button>
	</div>

	<br>

	<p class="divText">
	V situaci, kdy se musí vypsat poslední prvek seznamu, ale neví se aktuální počet prvků v seznamu, Python umožňuje záporné indexování. Když v hranatých závorkách bude hodnota -1, znamená to, že přistupujeme k poslednímu prvku v seznamu. Hodnota -2 je pro předposlední prvek atd. 
	</p>



	<h4 class = "podKapitola">Přidávání prvků do seznamu</h4>

	<p class="divText">
	Přidávat prvky do seznamu lze pomocí metody <b class="barvaFunkce">.append()</b>. Tato metoda umožnuje přidat prvek na konec seznamu. 
	</p>

	<div class="divBox">
		<p class="codeText" id="p8"> 	
		hodnoty = [1,2,3,4] <br>
		hodnoty.append(5) <br>
		<b class="ks">print</b>(hodnoty) # vypise: [1, 2, 3, 4, 5]

	</p>
	<button class="buttonCopy buttonBlue" onclick="copyToClipboard('#p8')" style="margin-left: auto; display: block;" >Uložit
</button>
	</div>

	<br>

	<p class="divText">
	Pro vložení prvku na určité místo v seznamu lze použít metodu <b class="barvaFunkce">.insert()</b>. Tato metoda má dva parametry, kde první parametr je index, kam chceme hodnotu vkládat a druhý parametr je hodnota, kterou chceme vkládat do seznamu. 
	</p>


	<div class="divBox">
		<p class="codeText" id="p9"> 	
		barvy = ["cervena", "zluta"] <br>
		barvy.insert(1, "bila") <br>
		<b class="ks">print</b>(barvy) # vypise: ['cervena', 'bila', 'zluta']

	</p>
	<button class="buttonCopy buttonBlue" onclick="copyToClipboard('#p9')" style="margin-left: auto; display: block;" >Uložit
</button>
	</div>

	<br>

	<p class="divText">
	Přidávat prvky jednoho seznamu do seznamu druhého lze řešit pomocí metody <b class="barvaFunkce">.extend()</b>
	</p>


	<div class="divBox">
		<p class="codeText" id="p10"> 	
		prvni = [1, 2, 3] <br>
		druhy = [4, 5] <br>
		prvni.extend(druhy) <br>
		<b class="ks">print</b>(prvni) # vypise: [1, 2, 3, 4, 5]
	</p>
	<button class="buttonCopy buttonBlue" onclick="copyToClipboard('#p10')" style="margin-left: auto; display: block;" >Uložit
</button>
	</div>

	<br>

	<p class="divText">
	Také lze takto spojit dva seznamy pomocí operátoru <b>+</b>	 
	</p>

	<div class="divBox">
		<p class="codeText" id="p11"> 	
		prvni = [1, 2, 3] <br>
		druhy = [4, 5] <br>
		prvni += druhy <br>
		<b class="ks">print</b>(prvni) # vypise: [1, 2, 3, 4, 5]

	</p>
	<button class="buttonCopy buttonBlue" onclick="copyToClipboard('#p11')" style="margin-left: auto; display: block;" >Uložit
</button>
	</div>

	<br>


	<h4 class = "podKapitola">Změna prvku v seznamu</h4>

	<p class="divText"> 
	Prvek v seznamu lze změnit pomocí jeho indexu. Máme seznam, kde chceme nahradit druhý prvek, tedy prvek s indexem 1.
	</p>

	<div class="divBox">
		<p class="codeText" id="p12"> 	
		ovoce = ["jablko", "merunka", "broskev"] <br>
		ovoce[1] = "hruska" <br>
		<b class="ks">print</b>(ovoce) # vypise: ['jablko', 'hruska', 'broskev']


	</p>
	<button class="buttonCopy buttonBlue" onclick="copyToClipboard('#p12')" style="margin-left: auto; display: block;" >Uložit
</button>
	</div>

	<br>

	
	<h4 class = "podKapitola">Odebírání prvků ze seznamu</h4>

	<p class="divText">
	Prvek ze seznamu lze odebrat při uvedení indexu v seznamu nebo hodnoty prvku.
	Metoda <b class="barvaFunkce">.pop()</b> odstraní prvek na uvedeném indexu. Pokud se nepředává argument, tak se odstraní poslední prvek.
	</p>


	<div class="divBox">
		<p class="codeText" id="p13"> 	
		ovoce = ["jablko", "hruska", "broskev"] <br>
		ovoce.pop(0) <br>
		<b class="ks">print</b>(ovoce) #vypise: ['hruska', 'broskev']
	</p>
	<button class="buttonCopy buttonBlue" onclick="copyToClipboard('#p13')" style="margin-left: auto; display: block;" >Uložit
</button>
	</div>

	<br>

	<div class="divBox">
		<p class="codeText" id="p14"> 	
		ovoce = ["jablko", "hruska", "broskev"] <br>
		ovoce.pop() <br>
		<b class="ks">print</b>(ovoce) #vypise: ['jablko', 'hruska']
	</p>
	<button class="buttonCopy buttonBlue" onclick="copyToClipboard('#p14')" style="margin-left: auto; display: block;" >Uložit
</button>
	</div>

	<br>

	<p class="divText">
	Všechny prvky v seznamu se smažou pomocí metody <b class="barvaFunkce">.clear()</b>
	</p>


	<div class="divBox">
		<p class="codeText" id="p15"> 	
		ovoce = ["jablko", "hruska", "broskev"] <br>
		ovoce.clear() <br>
		<b class="ks">print</b>(ovoce) #vypise: []

	</p>
	<button class="buttonCopy buttonBlue" onclick="copyToClipboard('#p15')" style="margin-left: auto; display: block;" >Uložit
</button>
	</div>

	<br>




	<h4 class = "podKapitola">Průchod seznamem</h4>
	
	<p class="divText">
	Seznam se dá procházet pomocí cyklů. První z možností je použití 
	<b class="barvaFunkce">for</b> cyklu.
	</p>

	<div class="divBox">
		<p class="codeText"> 	
		cisla = [5, 10, 15, 20] <br>
		<b class="ks">for</b> i <b class="ks">in</b> cisla:    <br>
     		&nbsp;&nbsp;&nbsp;&nbsp;<b class="ks">print</b>(i) #vypise: 5 10 15 20


	</p>
	<button class="buttonCopy buttonBlue" onclick="copyToClipboard('#p16')" style="margin-left: auto; display: block;" >Uložit
</button>
	</div>

<p id="p16" hidden="True">
cisla = [5, 10, 15, 20] <br>
<b class="ks">for</b> i <b class="ks">in</b> cisla:    <br>
&#09;<b class="ks">print</b>(i) #vypise: 5 10 15 20

</p>


	<br>

	<p class="divText">
	Při použití <b class="ks">while</b> cyklu použijeme funkci <b class="barvaFunkce">len()</b>, která nám určí délku seznamu. Procházet začneme od indexu 0.
	</p>


	<div class="divBox">
		<p class="codeText"> 	
		cisla = [5, 10, 15, 20] <br>
		i = 0 <br>
		<b class="ks">while</b> i < <b class="ks">len</b>(cisla): <br>
    		&nbsp;&nbsp;&nbsp;&nbsp;<b class="ks">print</b>(cisla[i]) # vypise: 5 10 15 20 <br>
    		&nbsp;&nbsp;&nbsp;&nbsp;i = i+1 

	</p>
	<button class="buttonCopy buttonBlue" onclick="copyToClipboard('#p17')" style="margin-left: auto; display: block;" >Uložit
</button>
	</div>


<p id="p17" hidden="True">
cisla = [5, 10, 15, 20] <br>
i = 0 <br>
<b class="ks">while</b> i < <b class="ks">len</b>(cisla): <br>
&#09;<b class="ks">print</b>(cisla[i]) # vypise: 5 10 15 20 <br>
&#09;i = i+1 

</p>

	<br>

	<p class="divText">
	Kratší zapsaný způsob projití seznamu je pomocí seznamové komprehenze (anglicky list comprehension).
	</p>


	<div class="divBox">
		<p class="codeText" id="p18"> 	
		cisla = [5, 10, 15, 20] <br>
		[<b class="ks">print</b>(i) <b class="ks">for</b> i <b class="ks">in</b> cisla] # vypise: 5 10 15 20


	</p>
	<button class="buttonCopy buttonBlue" onclick="copyToClipboard('#p18')" style="margin-left: auto; display: block;" >Uložit
</button>
	</div>


	<br>




	<h4 class = "podKapitola">Typické metody seznamu</h4>


<table id="metody">
  <tr>
    <th>Metody</th>
    <th>Popis</th>
  </tr>
  <tr>
    <td>list.<b>append</b>(x) </td>
    <td>Přidá prvek x na konec seznamu</td>
    
  </tr>
  <tr>
    <td>list.<b>count</b>(x)</td>
    <td>Vrátí počet výskytů prvku x v seznamu</td>
    
  </tr>
  <tr>
    <td>list.<b>clear</b>()</td>
    <td>Odstraní všechny prvky ze seznamu</td>
  
  </tr>
  <tr>
    <td>list.<b>extend</b>(iterace)</td>
    <td>Připojí prvky iterovatelného objektu na konec seznamu</td>
  
  </tr>
  <tr>
    <td>list.<b>index</b>()</td>
    <td>Vrátí index nejlevějšího výskytu prvku v seznamu</td>
 
  </tr>
  <tr>
    <td>list.<b>insert</b>(i, x)</td>
    <td>Vloží prvek x do seznamu na pozici i</td>
  
  </tr>
  <tr>
    <td>list.<b>pop</b>()</td>
    <td>Vrátí a odstraní poslední prvek v seznamu</td>

  </tr>
  <tr>
    <td>list.<b>remove</b>(x)</td>
    <td>Odstraní nejlevější výskyt prvku x</td>
  
  </tr>
  <tr>
    <td>list.<b>reverse</b>()</td>
    <td>Obrátí prvky v seznamu</td>
 
  </tr>
  <tr>
    <td>list.<b>sort</b>()</td>
    <td>Seřadí seznam na místě</td>
  
  </tr>
</table>

<br>

	<h4 class = "podKapitola">Příklady</h4>


<br>


<div class="divPriklady">
<div class="border border-light">
<ul class="list-group">	
  <li class="list-group-item">
  1. Máte seznam <b class="barvaPromenne">cisla</b> = [5, 10, 15, 20] <br>
	Napište program, který sečte všechny hodnoty v seznamu. Výsledek se vypíše na výstup.
	
  </li>  
</ul>
</div>
</div>

<br>

<div class="divBox">
		<p class="codeText" > 	
		cisla = [5, 10, 15, 20] <br>
		vysledek = 0 <br>
		<br>
		<b class="ks">for</b> i <b class="ks">in</b> cisla: <br>
		    &nbsp;&nbsp;&nbsp;&nbsp;vysledek += i <br>
		<b class="ks">print</b>(vysledek) 

	</p>
	<button class="buttonCopy buttonBlue" onclick="copyToClipboard('#p19')" style="margin-left: auto; display: block;" >Uložit
</button>
</div>


<p id="p19" hidden="True">	
cisla = [5, 10, 15, 20] <br>
vysledek = 0 <br>
<br>
<b class="ks">for</b> i <b class="ks">in</b> cisla: <br>
&#09;vysledek += i <br>
<b class="ks">print</b>(vysledek)

</p>




<br>
<br>

<div class="divPriklady">
<div class="border border-light">
<ul class="list-group">	
  <li class="list-group-item">  
  2. Máte seznam <b class="barvaPromenne">cisla</b> = [20, 100, 6 , 14] <br>
Napište program, který vypíše na výstup největší číslo v seznamu.

	
  </li>  
</ul>
</div>
</div>

<br>

<div class="divBox">
		<p class="codeText" id="p20"> 	
		cisla = [20, 100, 6, 14] <br>
		cisla.sort() <br>
		<b class="ks">print</b>(cisla[-1])

	</p>
	<button class="buttonCopy buttonBlue" onclick="copyToClipboard('#p20')" style="margin-left: auto; display: block;" >Uložit
</button>
</div>

<br>
<br>

<div class="divPriklady">
<div class="border border-light">
<ul class="list-group">	
  <li class="list-group-item">
  3. Máte seznam <b class="barvaPromenne">cisla</b> = [20, 100, 6 , 14] <br>
Napište program, který vypíše na výstup nejmenší číslo v seznamu.

  
	
  </li>  
</ul>
</div>
</div>

<br>

<div class="divBox">
		<p class="codeText" id="p21"> 	
		cisla = [20, 100, 6, 14] <br>
		cisla.sort() <br>
		<b class="ks">print</b>(cisla[0])

	</p>
	<button class="buttonCopy buttonBlue" onclick="copyToClipboard('#p21')" style="margin-left: auto; display: block;" >Uložit
</button>
</div>

<br>
<br>

<div class="divPriklady">
<div class="border border-light">
<ul class="list-group">	
  <li class="list-group-item">
  4. Máte seznam <b class="barvaPromenne">cisla</b> = [12, 6, 8, 2, 25, 3, 9] <br>
Napište program, který uspořádá čísla v seznamu od nejmenší po největší. Uspořádaný seznam se vypíše na výstup. 
  
	
  </li>  
</ul>
</div>
</div>

<br>

<div class="divBox">
		<p class="codeText" id="p22"> 	 
		cisla = [12, 6, 8, 2, 25, 3, 9] <br>
		cisla.sort() <br>
		<b class="ks">print</b>(cisla)

	</p>
	<button class="buttonCopy buttonBlue" onclick="copyToClipboard('#p22')" style="margin-left: auto; display: block;" >Uložit
</button>
</div>

<br>
<br>

<div class="divPriklady">
<div class="border border-light">
<ul class="list-group">	
  <li class="list-group-item">
  5. Máte seznam <b class="barvaPromenne">cisla</b> = [1, 5, 8, 5, 4, 5, 10] <br>
Napište program, který odstraní opakující se hodnoty uvnitř seznamu. Výsledný seznam vypište na výstup. 
  
	
  </li>  
</ul>
</div>
</div>

<br>

<div class="divBox">
		<p class="codeText"> 	
		cisla = [1, 5, 8, 5, 4, 5, 10] <br>
		vysledek = [] <br>
		<br>
		<b class="ks">for</b> i <b class="ks">in</b> cisla: <br>
		    &nbsp;&nbsp;&nbsp;&nbsp;<b class="ks">if</b> i <b class="ks">not in</b> vysledek: <br>
		        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;vysledek.append(i) <br>
		<b class="ks">print</b>(vysledek) 

	</p>
	<button class="buttonCopy buttonBlue" onclick="copyToClipboard('#p23')" style="margin-left: auto; display: block;" >Uložit
</button>
</div>


<p id="p23" hidden="True">	
cisla = [1, 5, 8, 5, 4, 5, 10] <br>
vysledek = [] <br>
<br>
<b class="ks">for</b> i <b class="ks">in</b> cisla: <br>
&#09;<b class="ks">if</b> i <b class="ks">not in</b> vysledek: <br>
&#09;&#09;vysledek.append(i) <br>
<b class="ks">print</b>(vysledek)
</p>


<br>
<br>

<div class="divPriklady">
<div class="border border-light">
<ul class="list-group">	
  <li class="list-group-item">
  6. Máte dva seznamy. <br>
<b class="barvaPromenne">hodnoty</b> = [1, 2, 3] <br>
<b class="barvaPromenne">prazdny</b> = [] <br>
Napište program, který vypíše na výstup informace o tom, jestli je seznam prázdný nebo obsahuje prvky.
  
	
  </li>  
</ul>
</div>
</div>

<br>

<div class="divBox">
		<p class="codeText"> 	
		hodnoty = [1, 2, 3] <br>
		prazdny = [] <br>
		<br>
		<b class="ks">if len</b>(prazdny) == 0: <br>
		    &nbsp;&nbsp;&nbsp;&nbsp;<b class="ks">print</b>("Prazdny") <br>
		<b class="ks">else</b>: <br>
		    &nbsp;&nbsp;&nbsp;&nbsp;<b class="ks">print</b>("Obsahuje prvky") 

	</p>
	<button class="buttonCopy buttonBlue" onclick="copyToClipboard('#p24')" style="margin-left: auto; display: block;" >Uložit
</button>
</div>

<p id="p24" hidden="True">	
hodnoty = [1, 2, 3] <br>
prazdny = [] <br>
<br>
<b class="ks">if len</b>(prazdny) == 0: <br>
&#09;<b class="ks">print</b>("Prazdny") <br>
<b class="ks">else</b>: <br>
&#09;<b class="ks">print</b>("Obsahuje prvky")
</p>


<br>
<br>

<div class="divPriklady">
<div class="border border-light">
<ul class="list-group">	
  <li class="list-group-item">
  
  7. Máte seznam <b class="barvaPromenne">cisla</b> = [6, 2, 3, 8, 10] <br>
Napište program, který odstraní sudá čísla ze seznamu. Výsledný seznam vypište na výstup

	
  </li>  
</ul>
</div>
</div>

<br>

<div class="divBox">
		<p class="codeText" id="p25"> 	
		cisla = [6, 2, 3, 8, 10] <br>
		<br>
		vysledek = [x <b class="ks">for</b> x <b class="ks">in</b> cisla <b class="ks">if</b> x % 2 != 0] <br>
		<b class="ks">print</b>(vysledek)

	</p>
	<button class="buttonCopy buttonBlue" onclick="copyToClipboard('#p25')" style="margin-left: auto; display: block;" >Uložit
</button>
</div>

<br>
<br>

<div class="divPriklady">
<div class="border border-light">
<ul class="list-group">	
  <li class="list-group-item">
  8. Máte seznam <b class="barvaPromenne">cisla</b> = [1, 2, 3, 4, 5] <br>
Vytvořte nový seznam, který obsahuje druhou mocninu čísel v prvním seznamu. Tento nový seznam vypište na výstup. 
  
	
  </li>  
</ul>
</div>
</div>

<br>

<div class="divBox">
		<p class="codeText"> 	
		cisla = [1, 2, 3, 4, 5] <br>
		vysledek = [] <br>
		<br>
		<b class="ks">for</b> i <b class="ks">in</b> cisla: <br>
		    &nbsp;&nbsp;&nbsp;&nbsp;vysledek.append(i**2) <br>
		<br>
		<b class="ks">print</b>(vysledek)

	</p>
	<button class="buttonCopy buttonBlue" onclick="copyToClipboard('#p26')" style="margin-left: auto; display: block;" >Uložit
</button>
</div>

<p id="p26" hidden="True">	
cisla = [1, 2, 3, 4, 5] <br>
vysledek = [] <br>
<br>
<b class="ks">for</b> i <b class="ks">in</b> cisla: <br>
&#09;vysledek.append(i**2) <br>
<br>
<b class="ks">print</b>(vysledek)
</p>



<br>
<br>

<div class="divPriklady">
<div class="border border-light">
<ul class="list-group">	
  <li class="list-group-item">
  9. Máte seznam <b class="barvaPromenne">cisla</b> = [1, 100, 8] <br>
Napište program, který nahradí v seznamu číslo 100 číslem 5. Výsledek vypište na výstup. 

  
	
  </li>  
</ul>
</div>
</div>

<br>

<div class="divBox">
		<p class="codeText" id="p27"> 	
		cisla = [1, 100, 8] <br>
		cisla[1] = 5 <br>
		<b class="ks">print</b>(cisla)

	</p>
	<button class="buttonCopy buttonBlue" onclick="copyToClipboard('#p27')" style="margin-left: auto; display: block;" >Uložit
</button>
</div>

<br>
<br>

<div class="divPriklady">
<div class="border border-light">
<ul class="list-group">	
  <li class="list-group-item">
  10. Máte seznam <b class="barvaPromenne">cisla</b> = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10] <br>
Napište program, který vypíše na výstup počet prvků v seznamu. 

  
	
  </li>  
</ul>
</div>
</div>

<br>

<div class="divBox">
		<p class="codeText" id="p28"> 	
		cisla = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10] <br>
		<b class="ks">print</b>(<b class="ks">len</b>(cisla))

	</p>
	<button class="buttonCopy buttonBlue" onclick="copyToClipboard('#p28')" style="margin-left: auto; display: block;" >Uložit
</button>
</div>

<br>
<br>

<div class="divPriklady">
<div class="border border-light">
<ul class="list-group">	
  <li class="list-group-item">
  11. Máte seznam <b class="barvaPromenne">cisla</b> = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10] <br>
Napište program, který vypíše na výstup každý druhý prvek v seznamu. 

  
	
  </li>  
</ul>
</div>
</div>

<br>

<div class="divBox">
		<p class="codeText" id="p29"> 	
		cisla = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10] <br>
		<b class="ks">print</b>(cisla[::2])

	</p>
	<button class="buttonCopy buttonBlue" onclick="copyToClipboard('#p29')" style="margin-left: auto; display: block;" >Uložit
</button>
</div>

<br>
<br>

<div class="divPriklady">
<div class="border border-light">
<ul class="list-group">	
  <li class="list-group-item">
  12. Máte seznam <b class="barvaPromenne">cisla</b> = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10] <br>
Napište program, který spočítá počet sudých a počet lichých čísel v seznamu. 

  
	
  </li>  
</ul>
</div>
</div>

<br>

<div class="divBox">
		<p class="codeText"> 	
		cisla = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10] <br>
		<br>
		sudy = 0 <br>
		lichy = 0 <br>
		<br>
		<b class="ks">for</b> i <b class="ks">in</b> cisla: <br>
		    &nbsp;&nbsp;&nbsp;&nbsp;<b class="ks">if</b> i % 2 == 0: <br>
		        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;sudy += 1 <br>
		    &nbsp;&nbsp;&nbsp;&nbsp;<b class="ks">else</b>: <br>
		        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;lichy += 1 <br>
		<br>
		<b class="ks">print</b>(sudy) <br>
		<b class="ks">print</b>(lichy)

	</p>
	<button class="buttonCopy buttonBlue" onclick="copyToClipboard('#p30')" style="margin-left: auto; display: block;" >Uložit
</button>
</div>



<p id="p30" hidden="True">	
cisla = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10] <br>
<br>
sudy = 0 <br>
lichy = 0 <br>
<br>
<b class="ks">for</b> i <b class="ks">in</b> cisla: <br>
&#09;<b class="ks">if</b> i % 2 == 0: <br>
&#09;&#09;sudy += 1 <br>
&#09;<b class="ks">else</b>: <br>
&#09;&#09;lichy += 1 <br>
<br>
<b class="ks">print</b>(sudy) <br>
<b class="ks">print</b>(lichy)
</p>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<script>
function copyToClipboard(element) {
  var $temp = $("<textarea>");
  $("body").append($temp);
  $temp.val($(element).text()).select();
  document.execCommand("copy");
  $temp.remove();
}

</script>


<br>
<br>	
<br>


</body>
</html>
	

	


{% endblock %}