{% extends 'base.html' %}

{% load static %}


{% block content %}


<!DOCTYPE html>
<html>
<head>
	<title>Třídy a objekty</title>

	<link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">



<style type="text/css">
	

</style>





</head>

<body>
	<h3 class="myHeader">Třídy a objekty</h3>

	
	<p class="divText" >
	Objektově orientované programovaní (anglicky Object Oriented Progamming) umožnujě vytvářet vlastní objekty, které mají metody a datové atributy. 
	</p>


	<h4 class = "podKapitola">Třída</h4>


	<p class="divText">
	Pro vytvoření vlastního objektu je potřeba definovat třídu. Uvnitř třídy definujeme atributy a metody (funkce). K vytvoření třídy se použije klíčové slovo <b class="barvaFunkce">class</b> a za ním, námi zvolaný název dané třídy začínající velkým počátečním písmenem.  Za názvem je dvojtečka.  
	</p>

	<div class="divBox">
		<p class="codeText" id="p1"> 	
	<b class="ks">class</b> TotoJeTrida:
	</p>
	<button class="buttonCopy buttonBlue" onclick="copyToClipboard('#p1')" style="margin-left: auto; display: block;" >Uložit
</button>
	</div>

	<br>

	<p class="divText">
	Vytvoříme třídu s názvem <b class="barvaPromenne">Pes</b>. Tato třída bude obsahovat metodu <b class="barvaPromenne">pozdrav()</b>, které po zavolání vypíše něco na výstup.  
	</p>

	<div class="divBox">
		<p class="codeText"> 	
		<b class="ks">class</b> Pes: <br>
    		&nbsp;&nbsp;&nbsp;&nbsp;<b class="ks">def</b> pozdrav(<b class="kself">self</b>): <br>
        		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b class="ks">print</b>("Baf")

	</p>
	<button class="buttonCopy buttonBlue" onclick="copyToClipboard('#p2')" style="margin-left: auto; display: block;" >Uložit
</button>
	</div>


<p id="p2" hidden="True">
<b class="ks">class</b> Pes: <br>
&#09;<b class="ks">def</b> pozdrav(<b class="kself">self</b>): <br>
&#09;&#09;<b class="ks">print</b>("Baf")
</p>



	<br>

	<p class="divText">
	Je tedy vytvořená jednoduchá třída, která obsahuje jednu metodu. Abychom mohli přistoupit k této metodě, tak musíme vytvořit objekt dané třídy. Objekty, které patří do dané třídy se také označují jako instance této třídy. <br>
	Pro vytvoření objektu patřící do třídy <b class="barvaPromenne">Pes</b>, je potřeba zvolit jeho název a specifikovat danou třídu.

	</p>

	<div class="divBox">
		<p class="codeText"> 	
		muj_pes = Pes()
	</p>
	<button class="buttonCopy buttonBlue" onclick="copyToClipboard('#p3')" style="margin-left: auto; display: block;" >Uložit
</button>
	</div>

<p id="p3" hidden="True">
muj_pes = Pes()
</p>



	<br>

	<p class="divText">
		Nyní lze přistoupit k metodě <b class="barvaPromenne">pozdrav</b> pomocí tečkové notace.
	</p>


	<div class="divBox">
		<p class="codeText"> 	
		muj_pes.pozdrav() # vypise: Baf
	</p>
	<button class="buttonCopy buttonBlue" onclick="copyToClipboard('#p4')" style="margin-left: auto; display: block;" >Uložit
</button>
	</div>

<p id="p4" hidden="True">
muj_pes.pozdrav() # vypise: Baf
</p>



	<br>

	<p class="divText" >
	Celý kód vypadá následovně:
	</p>

	<div class="divBox">
		<p class="codeText"> 	
		<b class="ks">class</b> Pes: <br>
    		&nbsp;&nbsp;&nbsp;&nbsp;<b class="ks">def</b> pozdrav(<b class="kself">self</b>): <br>
        		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b class="ks">print</b>("Baf") <br>
        <br>
		muj_pes = Pes() <br>
		muj_pes.pozdrav() # vypise: Baf

	</p>
	<button class="buttonCopy buttonBlue" onclick="copyToClipboard('#p5')" style="margin-left: auto; display: block;" >Uložit
</button>
	</div>

<p id="p5" hidden="True">
<b class="ks">class</b> Pes: <br>
&#09;<b class="ks">def</b> pozdrav(<b class="kself">self</b>): <br>
&#09;&#09;print("Baf") <br>
<br>
muj_pes = Pes() <br>
muj_pes.pozdrav() # vypise: Baf
</p>



	<br>

	<h4 class = "podKapitola">Datové atributy a metody objektu</h4>

	<p class="divText">
	<b class="barvaPromenne">Pes</b> může mít nějaké vlastnosti, jako jsou např. věk, plemeno nebo barva. <br>
	Vytvoříme třídu <b class="barvaPromenne">Pes</b>, která bude mít atributy <b class="barvaPromenne">vek</b> a <b class="barvaPromenne">plemeno</b>. <br>
	Uvnitř třídy vytvoříme metodu s názvem <b class="kself">__init__</b> <br>
	<b class="kself">__init__</b> je speciální metoda, která je zavolána, když je vytvořena instance dané třídy. U každé metody dané třídy je prvním parametrem 
	<b class="kself">self</b>. Parametr <b class="kself">self</b> je odkaz na daný objekt dané třídy a používá se k přístupu proměnných, které patří třídě. 
	Parametr <b class="kself">self</b> se může jmenovat i jinak, ale vždy musí být jako první parametr každé metody. <br>
	<br>
	Metoda <b class="kself">__init__</b> bude mít tedy parametr <b class="kself">self</b> a dále <b class="barvaPromenne">vek</b> a <b class="barvaPromenne">plemeno</b>.



	</p>

	<div class="divBox">
		<p class="codeText"> 	
		<b class="ks">class</b> Pes: <br>
		    &nbsp;&nbsp;&nbsp;&nbsp;<b class="ks">def</b> <b class="kself">__init__</b>(<b class="kself">self</b>, vek, plemeno):


	</p>
	<button class="buttonCopy buttonBlue" onclick="copyToClipboard('#p6')" style="margin-left: auto; display: block;" >Uložit
</button>
	</div>

<p id="p6" hidden="True">
<b class="ks">class</b> Pes: <br>
&#09;<b class="ks">def</b> <b class="kself">__init__</b>(<b class="kself">self</b>, vek, plemeno):
</p>



	<br>

	<p class="divText">
	Tělo metody bude obsahovat: <b class="kself">self.vek = vek</b> a 
	<b class="kself">self.plemeno = plemeno</b>
	</p>


	<div class="divBox">
		<p class="codeText"> 	
		<b class="ks">class</b> Pes: <br>
    		&nbsp;&nbsp;&nbsp;&nbsp;<b class="ks">def <b class="kself">__init__</b></b>(<b class="kself">self</b>, vek, plemeno): <br>
       			&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b class="kself">self</b>.vek = vek <br>
        		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b class="kself">self</b>.plemeno = plemeno


	</p>
	<button class="buttonCopy buttonBlue" onclick="copyToClipboard('#p7')" style="margin-left: auto; display: block;" >Uložit
</button>
	</div>

<p id="p7" hidden="True">
<b class="ks">class</b> Pes: <br>
&#09;<b class="ks">def <b class="kself">__init__</b></b>(<b class="kself">self</b>, vek, plemeno): <br>
&#09;&#09;<b class="kself">self</b>.vek = vek <br>
&#09;&#09;<b class="kself">self</b>.plemeno = plemeno
</p>



	<br>

	<p class="divText">
	Metoda <b class="kself">__init__</b> je zavolána automaticky, když je vytvořena instance třídy. Klíčové slovo <b class="kself">self</b> představuje instanci objektu samotného. Potom se očekává, že zadáme věk a plemeno nějakého psa. Tento věk a toto plemeno přiřadíme k <b class="kself">self.vek</b>
	a <b class="kself">self.plemeno</b> <br>
	<br>
	Poté se vytvoří objekt, kde specifikujeme daný věk a plemeno psa. Na výstup vypíšeme plemeno psa.

	</p>


	<div class="divBox">
		<p class="codeText"> 	
		<b class="ks">class</b> Pes: <br>
    		&nbsp;&nbsp;&nbsp;&nbsp;<b class="ks">def __init__</b>(<b class="kself">self</b>, vek, plemeno): <br>
        		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b class="kself">self</b>.vek = vek <br>
        		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b class="kself">self</b>.plemeno = plemeno <br>
        <br>
		muj_pes = Pes(10, "Nemecky ovcak") <br>
		<b class="ks">print</b>(muj_pes.plemeno) #vypise: Nemecky ovcak


	</p>
	<button class="buttonCopy buttonBlue" onclick="copyToClipboard('#p8')" style="margin-left: auto; display: block;" >Uložit
</button>
	</div>

<p id="p8" hidden="True">
<b class="ks">class</b> Pes: <br>
&#09;<b class="ks">def __init__</b>(<b class="kself">self</b>, vek, plemeno): <br>
&#09;&#09;<b class="kself">self</b>.vek = vek <br>
&#09;&#09;<b class="kself">self</b>.plemeno = plemeno <br>
<br>
muj_pes = Pes(10, "Nemecky ovcak") <br>
<b class="ks">print</b>(muj_pes.plemeno) #vypise: Nemecky ovcak
</p>



	<br>

	<p class="divText">
	Na pořadí argumentů záleží. Kromě uvedeného způsobu lze argumenty zapsat takto:
	</p>


	<div class="divBox">
		<p class="codeText"> 	
		muj_pes = Pes(vek = 10, plemeno = "Nemecky ovcak") <br>
		<b class="ks">print</b>(muj_pes.plemeno) #vypise: Nemecky ovcak
	</p>
	<button class="buttonCopy buttonBlue" onclick="copyToClipboard('#p9')" style="margin-left: auto; display: block;" >Uložit
</button>
	</div>

<p id="p9" hidden="True">
muj_pes = Pes(vek = 10, plemeno = "Nemecky ovcak") <br>
<b class="ks">print</b>(muj_pes.plemeno) #vypise: Nemecky ovcak
</p>



	<br>

	<p class="divText">
	Vytvoříme třídu s názvem <b class="barvaPromenne">Clovek</b>. Tato třída bude mít atributy představující jméno, věk a informaci o tom, jestli pracuje. Zda pracuje bude rozhodnuto podle <b class="barvaFunkce">True</b> nebo <b class="barvaFunkce">False</b>.  
	Dále bude uvnitř třídy metoda, která sdělí informace o člověku. Na výstup vypíše jméno a věk. Pokud bude osoba pracovat, tak se vypíše, že pracuje. V opačném případě se vypíše, že nepracuje. Toto se může provést pomocí <b class="barvaFunkce">if</b> a <b class="barvaFunkce">else</b>. 

	</p>

	<div class="divBox">
		<p class="codeText"> 	
		<b class="ks">class</b> Clovek: <br>
    		&nbsp;&nbsp;&nbsp;&nbsp;<b class="ks">def</b> <b class="kself">__init__</b>(<b class="kself">self</b>, jmeno, vek, prace): <br>
        		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b class="kself">self</b>.jmeno = jmeno <br>
        		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b class="kself">self</b>.vek = vek <br>
        		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b class="kself">self</b>.prace = prace <br>
        	<br>
    		&nbsp;&nbsp;&nbsp;&nbsp;<b class="ks">def</b> informace(<b class="kself">self</b>): <br>
        		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b class="ks">print</b>("Jmenuji se " + <b class="kself">self</b>.jmeno) <br>
        		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b class="ks">print</b>("Je mi", <b class="kself">self</b>.vek, "let") <br>
        		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b class="ks">if</b> <b class="kself">self</b>.prace == <b class="ks">True</b>: <br>
            		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b class="ks">print</b>("Pracuji") <br>
        		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b class="ks">else</b>: <br>
            		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b class="ks">print</b>("Nepracuji") <br>
        <br>
		osoba = Clovek("Gustav", 30, True) <br>
		osoba.informace() <br>
		#Jmenuji se Gustav <br>
		#Je mi 30 let <br>
		#Pracuji <br>


	</p>
	<button class="buttonCopy buttonBlue" onclick="copyToClipboard('#p10')" style="margin-left: auto; display: block;" >Uložit
</button>
	</div>

<p id="p10" hidden="True">
<b class="ks">class</b> Clovek: <br>
&#09;<b class="ks">def</b> <b class="kself">__init__</b>(<b class="kself">self</b>, jmeno, vek, prace): <br>
&#09;&#09;<b class="kself">self</b>.jmeno = jmeno <br>
&#09;&#09;<b class="kself">self</b>.vek = vek <br>
&#09;&#09;<b class="kself">self</b>.prace = prace <br>
<br>
&#09;<b class="ks">def</b> informace(<b class="kself">self</b>): <br>
&#09;&#09;<b class="ks">print</b>("Jmenuji se " + <b class="kself">self</b>.jmeno) <br>
&#09;&#09;<b class="ks">print</b>("Je mi", <b class="kself">self</b>.vek, "let") <br>
&#09;&#09;<b class="ks">if</b> <b class="kself">self</b>.prace == <b class="ks">True</b>: <br>
&#09;&#09;&#09;<b class="ks">print</b>("Pracuji") <br>
&#09;&#09;<b class="ks">else</b>: <br>
&#09;&#09;&#09;<b class="ks">print</b>("Nepracuji") <br>
<br>
osoba = Clovek("Gustav", 30, True) <br>
osoba.informace() <br>
#Jmenuji se Gustav <br>
#Je mi 30 let <br>
#Pracuji <br>
</p>


	<br>


	<h4 class = "podKapitola">Dědičnost</h4>

	<p class="divText"> 
	Dědičnost umožnuje vytvořit třídu, která bude dědit vlastnosti a metody z jiné třídy. Třída, z které se dědí je rodič. Třída, které dědí od rodiče se nazývá potomek. <br>
	<br>
	Budeme mít třídu <b class="barvaPromenne">Zvire</b>. Potomkem této třídy bude třída <b class="barvaPromenne">Pes</b> a třída <b class="barvaPromenne">Kocka</b>. Abychom mohli dědit vlastnosti ze třídy <b class="barvaPromenne">Zvire</b>, musíme její název uvést v závorce za názvem potomka. 
	</p>

	<div class="divBox">
		<p class="codeText"> 	
		<b class="ks">class</b> Zvire: <br>
		   &nbsp;&nbsp;&nbsp;&nbsp;<b class="ks">pass</b> <br>
		    <br>
		<b class="ks">class</b> Pes(Zvire): <br>
    		&nbsp;&nbsp;&nbsp;&nbsp;<b class="ks">pass</b> <br>
    		<br>
		<b class="ks">class</b> Kocka(Zvire): <br>
    		&nbsp;&nbsp;&nbsp;&nbsp;<b class="ks">pass</b>

	</p>
	<button class="buttonCopy buttonBlue" onclick="copyToClipboard('#p11')" style="margin-left: auto; display: block;" >Uložit
</button>
	</div>

<p id="p11" hidden="True">
<b class="ks">class</b> Zvire: <br>
&#09;<b class="ks">pass</b> <br>
<br>
<b class="ks">class</b> Pes(Zvire): <br>
&#09;<b class="ks">pass</b> <br>
<br>
<b class="ks">class</b> Kocka(Zvire): <br>
&#09;<b class="ks">pass</b>
</p>



	<br>

	

	<p class="divText">
	Připravíme si tři třídy. <b class="barvaPromenne">Vozidlo</b>, který bude rodič a potomky <b class="barvaPromenne">Automobil</b> a <b class="barvaPromenne">NakladniAutomobil</b>.
	</p>


	<div class="divBox">
		<p class="codeText"> 	
		<b class="ks">class</b> Vozidlo: <br>
		    &nbsp;&nbsp;&nbsp;&nbsp;<b class="ks">pass</b> <br>
		<b class="ks">class</b> Automobil(Vozidlo): <br>
    		&nbsp;&nbsp;&nbsp;&nbsp;<b class="ks">pass</b> <br>
		<b class="ks">class</b> NakladniAutomobil(Vozidlo): <br>
    		&nbsp;&nbsp;&nbsp;&nbsp;<b class="ks">pass</b>

	</p>
	<button class="buttonCopy buttonBlue" onclick="copyToClipboard('#p12')" style="margin-left: auto; display: block;" >Uložit
</button>
	</div>

<p id="p12" hidden="True">
<b class="ks">class</b> Vozidlo: <br>
&#09;<b class="ks">pass</b> <br>
<b class="ks">class</b> Automobil(Vozidlo): <br>
&#09;<b class="ks">pass</b> <br>
<b class="ks">class</b> NakladniAutomobil(Vozidlo): <br>
&#09;<b class="ks">pass</b>
</p>



	<br>

	<p class="divText">
	Třída <b class="barvaPromenne">Vozidlo</b> bude mít atributy <b class="barvaPromenne">palivo</b>, <b class="barvaPromenne">barva</b> a <b class="barvaPromenne">cena</b>. Dále bude mít tři metody, které vrátí atribut <b class="barvaPromenne">palivo</b>, <b class="barvaPromenne">barvu</b> nebo <b class="barvaPromenne">cenu</b>. 
	</p>


	<div class="divBox">
		<p class="codeText"> 	
		<b class="ks">class</b> Vozidlo: <br>
    		&nbsp;&nbsp;&nbsp;&nbsp;<b class="ks">def</b> <b class="kself">__init__</b>(<b class="kself">self</b>, palivo, barva, cena): <br>
        		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b class="kself">self</b>.palivo = palivo <br>
        		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b class="kself">self</b>.barva = barva <br>
        		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b class="kself">self</b>.cena = cena <br>
        	<br>
    		&nbsp;&nbsp;&nbsp;&nbsp;<b class="ks">def</b> vrat_palivo(<b class="kself">self</b>): <br>
        		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b class="ks">return</b> <b class="kself">self</b>.palivo <br>
        	<br>
    		&nbsp;&nbsp;&nbsp;&nbsp;<b class="ks">def</b> vrat_barvu(<b class="kself">self</b>): <br>
        		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b class="kself">return self</b>.barva <br>
        	<br>
    		&nbsp;&nbsp;&nbsp;&nbsp;<b class="ks">def</b> vrat_cenu(<b class="kself">self</b>): <br>
        		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b class="ks">return</b> <b class="kself">self</b>.cena 


	</p>
	<button class="buttonCopy buttonBlue" onclick="copyToClipboard('#p13')" style="margin-left: auto; display: block;" >Uložit
</button>
	</div>

<p id="p13" hidden="True">
<b class="ks">class</b> Vozidlo: <br>
&#09;<b class="ks">def</b> <b class="kself">__init__</b>(<b class="kself">self</b>, palivo, barva, cena): <br>
&#09;&#09;<b class="kself">self</b>.palivo = palivo <br>
&#09;&#09;<b class="kself">self</b>.barva = barva <br>
&#09;&#09;<b class="kself">self</b>.cena = cena <br>
<br>
&#09;<b class="ks">def</b> vrat_palivo(<b class="kself">self</b>): <br>
&#09;&#09;<b class="ks">return</b> <b class="kself">self</b>.palivo <br>
<br>
&#09;<b class="ks">def</b> vrat_barvu(<b class="kself">self</b>): <br>
&#09;&#09;<b class="kself">return self</b>.barva <br>
<br>
&#09;<b class="ks">def</b> vrat_cenu(<b class="kself">self</b>): <br>
&#09;&#09;<b class="ks">return</b> <b class="kself">self</b>.cena
</p>



	<br>

	
	<p class="divText">
	Třída <b class="barvaPromenne">Automobil</b> bude mít další atribut <b class="barvaPromenne">rychlost</b>. V metodě
	<b class="kself">__init__</b> bude použito klíčové slovo <b class="kself">super()</b> pro dědění z třídy <b class="barvaPromenne">Vozidlo</b>. Dále bude třída <b class="barvaPromenne">Automobil</b> mít metodu <b class="barvaPromenne">nastartuj()</b>, která vypíše na výstup, že se auto nastartovalo.
	</p>

	<div class="divBox">
		<p class="codeText"> 	
		<b class="ks">class</b> Automobil(Vozidlo): <br>
    		&nbsp;&nbsp;&nbsp;&nbsp;<b class="ks">def</b> <b class="kself">__init__</b>(<b class="kself">self</b>, palivo, barva, cena, rychlost): <br>
        		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b class="kself">super</b>().<b class="kself">__init__</b>(palivo, barva, cena) <br>
        		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b class="kself">self</b>.rychlost = rychlost <br>
        	<br>
    		&nbsp;&nbsp;&nbsp;&nbsp;<b class="ks">def</b> nastartuj(<b class="kself">self</b>): <br>
        		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b class="ks">print</b>("Auto nastartovano")

	</p>
	<button class="buttonCopy buttonBlue" onclick="copyToClipboard('#p14')" style="margin-left: auto; display: block;" >Uložit
</button>
	</div>

<p id="p14" hidden="True">
<b class="ks">class</b> Automobil(Vozidlo): <br>
&#09;<b class="ks">def</b> <b class="kself">__init__</b>(<b class="kself">self</b>, palivo, barva, cena, rychlost): <br>
&#09;&#09;<b class="kself">super</b>().<b class="kself">__init__</b>(palivo, barva, cena) <br>
&#09;&#09;<b class="kself">self</b>.rychlost = rychlost <br>
<br>
&#09;<b class="ks">def</b> nastartuj(<b class="kself">self</b>): <br>
&#09;&#09;<b class="ks">print</b>("Auto nastartovano")
</p>



	<br>

	<p class="divText">
	Podobně bude i třída <b class="barvaPromenne">NakladniAutombil</b>. Ta nebude mít rychlost, místo toho bude mít atribut <b class="barvaPromenne">kola</b>, který představuje počet kol na nákladním automobilu. 
	</p>


	<div class="divBox">
		<p class="codeText"> 	
		<b class="ks">class</b> NakladniAutomobil(Vozidlo): <br>
		    &nbsp;&nbsp;&nbsp;&nbsp;<b class="ks">def</b> <b class="kself">__init__</b>(<b class="kself">self</b>, palivo, barva, cena, kola): <br>
        		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b class="kself">super</b>().<b class="kself">__init__</b>(palivo, barva, cena) <br>
        		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b class="kself">self</b>.kola = kola <br>

    		&nbsp;&nbsp;&nbsp;&nbsp;<b class="ks">def</b> nastartuj(<b class="kself">self</b>): <br>
        		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b class="ks">print</b>("Nakladni automobil nastartovan")

	</p>
	<button class="buttonCopy buttonBlue" onclick="copyToClipboard('#p15')" style="margin-left: auto; display: block;" >Uložit
</button>
	</div>

<p id="p15" hidden="True">
<b class="ks">class</b> NakladniAutomobil(Vozidlo): <br>
&#09;<b class="ks">def</b> <b class="kself">__init__</b>(<b class="kself">self</b>, palivo, barva, cena, kola): <br>
&#09;&#09;<b class="kself">super</b>().<b class="kself">__init__</b>(palivo, barva, cena) <br>
&#09;&#09;<b class="kself">self</b>.kola = kola <br>

&#09;<b class="ks">def</b> nastartuj(<b class="kself">self</b>): <br>
&#09;&#09;<b class="ks">print</b>("Nakladni automobil nastartovan")
</p>



	<br>

	<p class="divText">
	Nyní vytvoříme dva objekty, s názvem <b class="barvaPromenne">skoda</b> a <b class="barvaPromenne">iveco</b>. <b class="barvaPromenne">skoda</b> bude instance třídy <b class="barvaPromenne">Automobil</b>, <b class="barvaPromenne">iveco</b> bude instance třídy <b class="barvaPromenne">NakladniAutomobil</b>. U obou instancí zavoláme metodu <b class="barvaPromenne">nastartuj()</b> a také metodu <b class="barvaPromenne">vrat_palivo()</b>.
	</p>


	<div class="divBox">
		<p class="codeText"> 	
		skoda = Automobil(40, "bila", 400000, 200) <br>
		iveco = NakladniAutomobil(150, "cerna", 1500000, 12) <br>
		<br>
		skoda.nastartuj() # vypise: Auto nastartovano <br>
		<b class="ks">print</b>(skoda.vrat_palivo()) #vypise: 40 <br>
		<br>
		iveco.nastartuj() # vypise: Nakladni automobil nastartovan <br>
		<b class="ks">print</b>(iveco.vrat_palivo()) # vypise: 150

	</p>
	<button class="buttonCopy buttonBlue" onclick="copyToClipboard('#p16')" style="margin-left: auto; display: block;" >Uložit
</button>
	</div>

<p id="p16" hidden="True">
skoda = Automobil(40, "bila", 400000, 200) <br>
iveco = NakladniAutomobil(150, "cerna", 1500000, 12) <br>
<br>
skoda.nastartuj() # vypise: Auto nastartovano <br>
<b class="ks">print</b>(skoda.vrat_palivo()) #vypise: 40 <br>
<br>
iveco.nastartuj() # vypise: Nakladni automobil nastartovan <br>
<b class="ks">print</b>(iveco.vrat_palivo()) # vypise: 150
</p>



	<br>




	<h4 class = "podKapitola">Polymorfismus</h4>


	<p class="divText">
	Dva objekty různých tříd mohou mít stejný název metody. Polymorfismus v Pythonu umožnuje metodu zavolat ze stejného místa pro různé objekty. 
	Budeme mít třídu <b class="barvaPromenne">Pes</b> a <b class="barvaPromenne">Kocka</b>. Atributem bude <b class="barvaPromenne">jmeno</b>. Obě třídy budou mít metodu s názvem <b class="barvaPromenne">mluv</b>, která vrací jméno. 

	</p>


	<div class="divBox">
		<p class="codeText"> 	
		<b class="ks">class</b> Pes: <br>
		    &nbsp;&nbsp;&nbsp;&nbsp;<b class="ks">def</b> <b class="kself">__init__</b>(<b class="kself">self</b>, jmeno): <br>
        		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b class="kself">self</b>.jmeno = jmeno <br>
        	<br>
		    &nbsp;&nbsp;&nbsp;&nbsp;<b class="ks">def</b> mluv(<b class="kself">self</b>): <br>
        		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b class="ks">return</b> <b class="kself">self</b>.jmeno + " rekl baf" <br>
        <br>
        <br>
		<b class="ks">class</b> Kocka: <br>
    		&nbsp;&nbsp;&nbsp;&nbsp;<b class="ks">def</b> <b class="kself">__init__</b>(<b class="kself">self</b>, jmeno): <br>
        		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b class="kself">self</b>.jmeno = jmeno <br>
        	<br>
    		&nbsp;&nbsp;&nbsp;&nbsp;<b class="ks">def</b> mluv(<b class="kself">self</b>): <br>
        		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b class="ks">return</b> <b class="kself">self</b>.jmeno + " rekla mnau"


	</p>
	<button class="buttonCopy buttonBlue" onclick="copyToClipboard('#p17')" style="margin-left: auto; display: block;" >Uložit
</button>
	</div>

<p id="p17" hidden="True">
<b class="ks">class</b> Pes: <br>
&#09;<b class="ks">def</b> <b class="kself">__init__</b>(<b class="kself">self</b>, jmeno): <br>
&#09;&#09;<b class="kself">self</b>.jmeno = jmeno <br>
<br>
&#09;<b class="ks">def</b> mluv(<b class="kself">self</b>): <br>
&#09;&#09;<b class="ks">return</b> <b class="kself">self</b>.jmeno + " rekl baf" <br>
<br>
<br>
<b class="ks">class</b> Kocka: <br>
&#09;<b class="ks">def</b> <b class="kself">__init__</b>(<b class="kself">self</b>, jmeno): <br>
&#09;&#09;<b class="kself">self</b>.jmeno = jmeno <br>
<br>
&#09;<b class="ks">def</b> mluv(<b class="kself">self</b>): <br>
&#09;&#09;<b class="ks">return</b> <b class="kself">self</b>.jmeno + " rekla mnau"
</p>



	<br>


	<p class="divText">
	Dále vytvoříme dvě instance
	</p>


	<div class="divBox">
		<p class="codeText"> 	
		muj_pes = Pes("Rex") <br>
		moje_kocka = Kocka("Minda")
	</p>
	<button class="buttonCopy buttonBlue" onclick="copyToClipboard('#p18')" style="margin-left: auto; display: block;" >Uložit
</button>
	</div>

<p id="p18" hidden="True">
muj_pes = Pes("Rex") <br>
moje_kocka = Kocka("Minda")
</p>



	<br>


	<p class="divText">
	U obou instancí můžeme zavolat metodu <b class="barvaPromenne">mluv()</b>. Jelikož název metod je stejný můžeme metodu zavolat pro obě instance zároveň. <br>
	Toto lze provést pomocí <b class="barvaFunkce">for</b> cyklu, kde do hranatých závorek dáme dané instance. 

	</p>


	<div class="divBox">
		<p class="codeText"> 	
		<b class="ks">for</b> zvire <b class="ks">in</b> [muj_pes, moje_kocka]: <br>
    		&nbsp;&nbsp;&nbsp;&nbsp;<b class="ks">print</b>(zvire.mluv()) # vypise: Rex rekl baf Minda rekla mnau

	</p>
	<button class="buttonCopy buttonBlue" onclick="copyToClipboard('#p19')" style="margin-left: auto; display: block;" >Uložit
</button>
	</div>

<p id="p19" hidden="True">
<b class="ks">for</b> zvire <b class="ks">in</b> [muj_pes, moje_kocka]: <br>
&#09;<b class="ks">print</b>(zvire.mluv()) # vypise: Rex rekl baf Minda rekla mnau
</p>



	<br>


	<p class="divText">
	Také lze použít vlastní metodu, kde parametrem bude daná instance.
	</p>


	<div class="divBox">
		<p class="codeText"> 	
		<b class="ks">def</b> mluveni(zvire): <br>
    		&nbsp;&nbsp;&nbsp;&nbsp;<b class="ks">print</b>(zvire.mluv()) <br>
    	<br>
		mluveni(muj_pes) # vypise: Rex rekl baf 


	</p>
	<button class="buttonCopy buttonBlue" onclick="copyToClipboard('#p20')" style="margin-left: auto; display: block;" >Uložit
</button>
	</div>

<p id="p20" hidden="True">
<b class="ks">def</b> mluveni(zvire): <br>
&#09;<b class="ks">print</b>(zvire.mluv()) <br>
<br>
mluveni(muj_pes) # vypise: Rex rekl baf
</p>



	<br>


	<h4 class = "podKapitola">Abstraktní třída</h4>


	<p class="divText">
		U abstraktní třídy se neočekává, že se bude vytvářet její instance. Je používána s dědičností. 
	Budeme mít abstraktní třídu <b class="barvaPromenne">Zvire</b>. Potomkem této třídy bude třída <b class="barvaPromenne">Pes</b>. Pomocí metody <b class="barvaPromenne">mluv()</b> se vrátí jméno. <br>
	Pokud by se vytvořila instance třídy <b class="barvaPromenne">Zvire</b> a použila by se metoda <b class="barvaPromenne">mluv</b>, tak se vyhodí chyba. 

	</p>


	<div class="divBox">
		<p class="codeText"> 	
		<b class="ks">class</b> Zvire: <br>
    		&nbsp;&nbsp;&nbsp;&nbsp;<b class="ks">def</b> <b class="kself">__init__</b>(<b class="kself">self</b>, jmeno): <br>
        		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b class="kself">self</b>.jmeno = jmeno <br>
        	<br>
    		&nbsp;&nbsp;&nbsp;&nbsp;<b class="ks">def</b> mluv(<b class="kself">self</b>): <br>
        		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;raise NotImplementedError("Potomek neni implementovan") <br>
        <br>
		<b class="ks">class</b> Pes(Zvire): <br>
    		&nbsp;&nbsp;&nbsp;&nbsp;<b class="ks">def</b> mluv(self): <br>
        		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b class="ks">return</b> <b class="kself">self</b>.jmeno <br>
        <br>
		zviratko = Zvire("zvire") <br>
		<b class="ks">print</b>(zviratko.mluv()) # vyhodi chybu <br>
		<br>
		muj_pes = Pes("Rex") <br>
		<b class="ks">print</b>(muj_pes.mluv()) # vypise: Rex



	</p>
	<button class="buttonCopy buttonBlue" onclick="copyToClipboard('#p21')" style="margin-left: auto; display: block;" >Uložit
</button>
	</div>

<p id="p21" hidden="True">
<b class="ks">class</b> Zvire: <br>
&#09;<b class="ks">def</b> <b class="kself">__init__</b>(<b class="kself">self</b>, jmeno): <br>
&#09;&#09;<b class="kself">self</b>.jmeno = jmeno <br>
<br>
&#09;<b class="ks">def</b> mluv(<b class="kself">self</b>): <br>
&#09;&#09;raise NotImplementedError("Potomek neni implementovan") <br>
<br>
<b class="ks">class</b> Pes(Zvire): <br>
&#09;<b class="ks">def</b> mluv(self): <br>
&#09;&#09;<b class="ks">return</b> <b class="kself">self</b>.jmeno <br>
<br>
zviratko = Zvire("zvire") <br>
<b class="ks">print</b>(zviratko.mluv()) # vyhodi chybu <br>
<br>
muj_pes = Pes("Rex") <br>
<b class="ks">print</b>(muj_pes.mluv()) # vypise: Rex
</p>



	<br>

	<h4 class = "podKapitola">Speciální metody (Magic/Dunder)</h4>


	<p class="divText">
	Budeme mít třídu <b class="barvaPromenne">Kniha</b>, která má atributy <b class="barvaPromenne">nazev</b>, <b class="barvaPromenne">autor</b> a <b class="barvaPromenne">strany</b>.
	Při použití funkce <b class="barvaFunkce">print()</b> pro výpis instance nedostaneme informace o atributech. Dostaneme pouze informaci o tom, kde v paměti je uložen daný objekt. <br> 
	Toto lze vyřešit pomocí speciální metody s názvem <b class="kself">__str__</b>, která bude uvnitř třídy. <br>
	Tato metoda vrátí informaci o názvu a autora dané knihy při její zavolání. 
	
	</p>


	<div class="divBox">
		<p class="codeText"> 	
		<b class="ks">class</b> Kniha: <br>
		    &nbsp;&nbsp;&nbsp;&nbsp;<b class="ks">def</b> <b class="kself">__init__</b>(<b class="kself">self</b>, nazev, autor, strany): <br>
        		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b class="kself">self</b>.nazev = nazev <br>
        		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b class="kself">self</b>.autor = autor <br>
        		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b class="kself">self</b>.strany = strany <br>
        	<br>
    		&nbsp;&nbsp;&nbsp;&nbsp;<b class="ks">def</b> <b class="kself">__str__</b>(<b class="kself">self</b>): <br>
        		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b class="ks">return</b> f"{<b class="kself">self</b>.nazev} od {<b class="kself">self</b>.autor}" <br>
        <br>
		moje_kniha = Kniha("Pyhon knina", "Gustav", 200) <br>
		<b class="ks">print</b>(moje_kniha) # vypise Python kniha od Gustav
	</p>
	<button class="buttonCopy buttonBlue" onclick="copyToClipboard('#p22')" style="margin-left: auto; display: block;" >Uložit
</button>
	</div>

<p id="p22" hidden="True">
<b class="ks">class</b> Kniha: <br>
&#09;<b class="ks">def</b> <b class="kself">__init__</b>(<b class="kself">self</b>, nazev, autor, strany): <br>
&#09;&#09;<b class="kself">self</b>.nazev = nazev <br>
&#09;&#09;<b class="kself">self</b>.autor = autor <br>
&#09;&#09;<b class="kself">self</b>.strany = strany <br>
<br>
&#09;<b class="ks">def</b> <b class="kself">__str__</b>(<b class="kself">self</b>): <br>
&#09;&#09;<b class="ks">return</b> f"{<b class="kself">self</b>.nazev} od {<b class="kself">self</b>.autor}" <br>
<br>
moje_kniha = Kniha("Pyhon knina", "Gustav", 200) <br>
<b class="ks">print</b>(moje_kniha) # vypise Python kniha od Gustav
</p>



	<br>


	<p class="divText">
	Těchto speciálních metod je více. Chceme zjistit počet stran knihy. K tomuto použijeme speciální metodu <b class="kself">__len__()</b>. Dále chceme mít nějakou informaci o tom, že jsme smazali objektu. K tomuto použijeme speciální metodu <b class="kself">__del__()</b>
	</p>


	<div class="divBox">
		<p class="codeText"> 	
		<b class="ks">class</b> Kniha: <br>
    		&nbsp;&nbsp;&nbsp;&nbsp;<b class="ks">def</b> <b class="kself">__init__</b>(<b class="kself">self</b>, nazev, autor, strany): <br>
        		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b class="kself">self</b>.nazev = nazev <br>
        		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b class="kself">self</b>.autor = autor <br>
        		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b class="kself">self</b>.strany = strany <br>
        	<br>
    		&nbsp;&nbsp;&nbsp;&nbsp;<b class="ks">def</b> <b class="kself">__str__</b>(<b class="kself">self</b>): <br>
        		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b class="ks">return</b> f"{<b class="kself">self</b>.nazev} od {<b class="kself">self</b>.autor}" <br>
        	<br>
    		&nbsp;&nbsp;&nbsp;&nbsp;<b class="ks">def</b> <b class="kself">__len__</b>(<b class="kself">self</b>): <br>
        		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b class="ks">return</b> <b class="kself">self</b>.strany <br>
        	<br>
    		&nbsp;&nbsp;&nbsp;&nbsp;<b class="ks">def</b> <b class="kself">__del__</b>(<b class="kself">self</b>): <br>
        		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b class="ks">print</b>("Instance knihy byla smazana") <br>
        <br>
		moje_kniha = Kniha("Pyhon knina", "Gustav", 200) <br>
		<b class="ks">print</b>(moje_kniha) # vypise Python kniha od Gustav <br>
		<b class="ks">print</b>(<b class="ks">len</b>(moje_kniha)) # vypise: 200 <br>
		<b class="ks">del</b> moje_kniha # vypise: Instance knihy byla smazana



	</p>
	<button class="buttonCopy buttonBlue" onclick="copyToClipboard('#p23')" style="margin-left: auto; display: block;" >Uložit
</button>
	</div>

<p id="p23" hidden="True">
<b class="ks">class</b> Kniha: <br>
&#09;<b class="ks">def</b> <b class="kself">__init__</b>(<b class="kself">self</b>, nazev, autor, strany): <br>
&#09;&#09;<b class="kself">self</b>.nazev = nazev <br>
&#09;&#09;<b class="kself">self</b>.autor = autor <br>
&#09;&#09;<b class="kself">self</b>.strany = strany <br>
<br>
&#09;<b class="ks">def</b> <b class="kself">__str__</b>(<b class="kself">self</b>): <br>
&#09;&#09;<b class="ks">return</b> f"{<b class="kself">self</b>.nazev} od {<b class="kself">self</b>.autor}" <br>
<br>
&#09;<b class="ks">def</b> <b class="kself">__len__</b>(<b class="kself">self</b>): <br>
&#09;&#09;<b class="ks">return</b> <b class="kself">self</b>.strany <br>
<br>
&#09;<b class="ks">def</b> <b class="kself">__del__</b>(<b class="kself">self</b>): <br>
&#09;&#09;<b class="ks">print</b>("Instance knihy byla smazana") <br>
<br>
moje_kniha = Kniha("Pyhon knina", "Gustav", 200) <br>
<b class="ks">print</b>(moje_kniha) # vypise Python kniha od Gustav <br>
<b class="ks">print</b>(<b class="ks">len</b>(moje_kniha)) # vypise: 200 <br>
<b class="ks">del</b> moje_kniha # vypise: Instance knihy byla smazana
</p>



	<br>

	<h4 class = "podKapitola">Příklady</h4>


<br>

<div class="divPriklady">
<div class="border border-light">
<ul class="list-group">	
  <li class="list-group-item">
   1. Napište třídu <b class="barvaPromenne">Auto</b>, která neobsahuje žádné metody a atributy. 
  
	
  </li>  
</ul>
</div>
</div>

<br>

<div class="divBox">
		<p class="codeText"> 	
		<b class="ks">class</b> Auto: <br>
    		&nbsp;&nbsp;&nbsp;&nbsp;<b class="ks">pass</b> 

	</p>
	<button class="buttonCopy buttonBlue" onclick="copyToClipboard('#p24')" style="margin-left: auto; display: block;" >Uložit
</button>
</div>

<p id="p24" hidden="True">
<b class="ks">class</b> Auto: <br>
&#09;<b class="ks">pass</b>
</p>




<br>
<br>

<div class="divPriklady">
<div class="border border-light">
<ul class="list-group">	
  <li class="list-group-item">
   2. Napište třídu <b class="barvaPromenne">Produkt</b>. Tato třídá bude mít atributy nazev a cena. <br>
Třída bude mít metodu <b class="kself">__init__</b>() <br>
Dále bude mít dvě metody. První metoda bude vracet atribut nazev. Druhá metoda bude vracet atribut cena. 
  
	
  </li>  
</ul>
</div>
</div>

<br>

<div class="divBox">
		<p class="codeText"> 	
		<b class="ks">class</b> Produkt: <br>
		    &nbsp;&nbsp;&nbsp;&nbsp;<b class="ks">def</b> <b class="kself">__init__</b>(<b class="kself">self</b>, nazev, cena): <br>
		        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b class="kself">self</b>.nazev = nazev <br>
		        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b class="kself">self</b>.cena = cena <br>
 			<br>
		    &nbsp;&nbsp;&nbsp;&nbsp;<b class="ks">def</b> dej_nazev(<b class="kself">self</b>): <br>
		        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b class="ks">return</b> <b class="kself">self</b>.nazev <br>
		    <br>
		    &nbsp;&nbsp;&nbsp;&nbsp;<b class="ks">def</b> dej_cenu(<b class="kself">self</b>): <br>
		        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b class="ks">return</b> <b class="kself">self</b>.cena

	</p>
	<button class="buttonCopy buttonBlue" onclick="copyToClipboard('#p25')" style="margin-left: auto; display: block;" >Uložit
</button>
</div>

<p id="p25" hidden="True">
<b class="ks">class</b> Produkt: <br>
&#09;<b class="ks">def</b> <b class="kself">__init__</b>(self, nazev, cena): <br>
&#09;&#09;self.nazev = nazev <br>
&#09;&#09;self.cena = cena <br>
<br>
&#09;<b class="ks">def</b> dej_nazev(self): <br>
&#09;&#09;<b class="ks">return</b> self.nazev <br>
<br>
&#09;<b class="ks">def</b> dej_cenu(self): <br>
&#09;&#09;<b class="ks">return</b> self.cena
</p>



<br>
<br>

<div class="divPriklady">
<div class="border border-light">
<ul class="list-group">	
  <li class="list-group-item">
  3. Napište třídu <b class="barvaPromenne">Ucet</b>, která bude sloužit pro bankovní účet. <br>
Tato třída bude mít atribut <b class="barvaPromenne">uzivatel</b> a <b class="barvaPromenne">penize</b>. <br>
Dále budou zde dvě metody pro vklad a výběr peněz. <br>
Uživatel nemůže vybrat z účtu víc peněz než má k dispozici. <br>
	
  
	
  </li>  
</ul>
</div>
</div>

<br>

<div class="divBox">
		<p class="codeText"> 	
		<b class="ks">class</b> Ucet: <br>
		    &nbsp;&nbsp;&nbsp;&nbsp;<b class="ks">def</b> <b class="kself">__init__</b>(<b class="kself">self</b>, uzivatel, penize): <br>
		        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b class="kself">self</b>.uzivatel = uzivatel <br>
		        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b class="kself">self</b>.penize = penize <br>
		    <br>
		    &nbsp;&nbsp;&nbsp;&nbsp;<b class="ks">def</b> vklad(<b class="kself">self</b>, mnozstvi): <br>
		        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b class="kself">self</b>.penize += mnozstvi <br>
		        <br>
		        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b class="ks">return</b> <b class="kself">self</b>.penize <br>
		    <br>
		    &nbsp;&nbsp;&nbsp;&nbsp;<b class="ks">def</b> vyber(<b class="kself">self</b>, mnozstvi): <br>
		        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b class="ks">if</b> <b class="kself">self</b>.penize >= mnozstvi: <br>
		            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b class="kself">self</b>.penize -= mnozstvi <br>
		        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b class="ks">else</b>: <br>
		            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b class="ks">print</b>("Nedostatek penez na uctu") <br>
		        <br>
		        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b class="ks">return</b> <b class="kself">self</b>.penize

	</p>
	<button class="buttonCopy buttonBlue" onclick="copyToClipboard('#p26')" style="margin-left: auto; display: block;" >Uložit
</button>
</div>

<p id="p26" hidden="True">
<b class="ks">class</b> Ucet: <br>
&#09;<b class="ks">def</b> <b class="kself">__init__</b>(self, uzivatel, penize): <br>
&#09;&#09;self.uzivatel = uzivatel <br>
&#09;&#09;self.penize = penize <br>
<br>
&#09;<b class="ks">def</b> vklad(self, mnozstvi): <br>
&#09;&#09;self.penize += mnozstvi <br>
<br>
&#09;&#09;<b class="ks">return</b> self.penize <br>
<br>
&#09;<b class="ks">def</b> vyber(self, mnozstvi): <br>
&#09;&#09;<b class="ks">if</b> self.penize >= mnozstvi: <br>
&#09;&#09;&#09;self.penize -= mnozstvi <br>
&#09;&#09;<b class="ks">else</b>: <br>
&#09;&#09;&#09;<b class="ks">print</b>("Nedostatek penez na uctu") <br>
<br>
&#09;&#09;<b class="ks">return</b> self.penize
</p>




<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<script>
function copyToClipboard(element) {
  var $temp = $("<textarea>");
  $("body").append($temp);
  $temp.val($(element).text()).select();
  document.execCommand("copy");
  $temp.remove();
}

</script>

<br>	
<br>	
<br>


</body>
</html>
	

	


{% endblock %}